a{
    text-decoration: none;
}
.place1{
    margin-top: 10px;
}
.place2{
    margin-left: 0px;
}
.img{
    width: 30px;
    height: 30px;
}
.v{
    margin-top: 30px;
    width: 150px;
    height: 50px;
}
.place{
    margin-bottom: 10px;
}
.place3{
    margin-bottom: -50px ;
    padding: 0px ;
}
.eday{
    width: 140px;
    height: 80px;
}
.place4{
    margin-top: 5px;
    margin-bottom: 90px;
} 
.place5{
    margin-top: 15px;
    margin-left: 30px;

}
.place6{
    margin-top: 15px;
    margin-left: 40px;
}
.place7{
    width: 150px;
}
.place8{
    margin-top: -35px;
    margin-left: 200px;
}

.head{
    padding: 10px 0px;
}
.head1{
    padding: 190px 10px;
    background: #d10829f3;
    
}
.head2{
    background: rgb(202, 187, 51);
}
.h1head2{
    margin: 160px 0px 100px ;
    border: 4px double ;
    width: 400px;
    text-align: center;
    border-radius: 30px;
    background: rgb(187, 5, 5);
    color: rgb(238, 228, 228);

}
.content_1{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    box-shadow:20px 5px 30px gray;
    background-color: rgb(75, 185, 41);
    margin-top: -130px;
    margin-left: 700px;
}
.content_2{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    box-shadow:20px 5px 30px gray;
    background-color: rgb(57, 99, 161);
    margin-top: -60px;
    margin-left: 230px;
}
.content_3{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    box-shadow:20px 5px 30px gray;
    background-color: rgb(215, 219, 226);
    margin-top: -350px;
    margin-left: 490px;
}

.head1_1{
    margin-top: -180px;
    color: white;
}
.head1_2{
    color: white;
}
.head1_2:hover {
    background-color: white;
    color: #ad1f3a;
}
.head1_3{
    position: relative;
    top: 130px;
    margin-bottom: -130px;
    color: white;
}
.head3{
    padding: 10px 0px;
    color: white;
    background-color: #ad1f3a;
}
.head3_1{
    padding-left:  5px;
    padding-top: 10px;
    margin-left: 30px;
    color: black;
    background-color: white;
    width: 80px;
    height: 70px;
    border-radius: 10px;

}
.head3_2{
    padding: 0px 0px;
    margin-left: 30px;
}
.head3_3{
    padding: 0px 0px;
    margin-left: 50px;
}
.head3_3_1{
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    height: 50px;
}
.saction1{
    margin: 30px 2px;
}
.saction1_1{
    color: black;
}
.saction1_2{
    font-size: 25px;
    color: black;
    padding-top: 10px;
}
.saction2{
    margin: 0px 2px;
}
.saction2_1{
    padding: 100px;
}
.vv{
    width:200px;
    height: 200px;
}
.vvv{
    margin-top: 20px;
}
.saction1_2{
    font-size: 25px;
    color: black;
    padding-top: 10px;
}.saction1_3{
    font-size: 25px;
    color: black;
    padding-top: 10px;
}
.footer{
    border-top: 1px solid #ccc;
    padding-top: 50px;
    margin-bottom: 30px;
}
#gh-cat{
    width: 150px;
}