.img{
    width: 140px;
    height: 140px;
    margin-left: 48%;
    margin-top: 50px;
}
.inp{
    /* margin-left: 40%; */
    margin-bottom: 20px;
}
.inp0{
    width: 330px;
    height: 40px;
}
.inp1{
    width: 320px;
    height: 35px;
}
.inp2{
    width: 155px;
    height: 40px;
}
.inp3{
    width: 155px;
    height: 35px;
}
.inp4{
    width: 105px;
    height: 40px;
}
.inp5{
    width: 215px;
    height: 35px;
}
.inp6{
    text-align: center;
}
.inp7{
    width: 335px;
    height: 35px;
    margin-bottom: 30px;
    padding-left:  10px;
    border-radius: 10px;
    background-color: rgb(17, 93, 207);

}
.inp7:hover{
    background-color: rgb(24, 76, 155);

}
form{
    margin: 0px 20px;
}
section{
    border: 0.5px solid;
    border-radius: 10px;
    margin: 0px 500px 0px 580px;

}