.p_p{
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
}
.but{
    margin-left: 500px;
    width: 250px;
    height: 40px;
    border-radius: 20px;

}
footer{
    background-color: rgba(169, 169, 169, 0.068);
    margin: 170px 0px 0px;
    padding: 10px 300px 0px 10px;
}
.footer_1{
    padding: 0px 30px 30px 10px;
}
.fl{
    font-size: 14px;
    padding: 10px;
    color: rgb(89, 100, 100);
}
.footer_2{
    display:flex;
}
.fp{
    font-size: 13px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: rgb(89, 100, 100);
}