.ebay-logo {
    width: 186px;
    height: 69px;
}



body {
    margin: 3%;
    background-color: #ffff;
}

.Customer {
    color: rgb(51, 51, 51);
    font-size: 36px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.Customer-div {
    margin-top: 2%;
    margin-left: 3%;
}

.second-head {
    display: flex;
}

.home {
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.home:hover {
    text-decoration: underline;
    color: rgb(54, 101, 243);

}

.location {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 112, 112);
    text-decoration: none;
    
}

.location-div {
    margin-left: 0%;
    margin-top: 0.5%;
}

.askforhelp {
    width: 1080px;
    height: 249px;
    background-color: #111A85;
    box-shadow: #C3C6E0 2px 2px 2px 2px;
}

.help {
    Font-size: 38px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding-top: 5%;
}

.help-div {
    margin-left: 3%;

}

#ebay-search {
    width: 1000px;
    height: 69px;
    background-color: #FFFFFF;
    Font-size: 24px;
    color: rgb(0, 0, 0);
    Font-weight: 700;
    font-family: Market sans-serif;

}

.etc {
    width: 1080px;
    height: 394px;
    background-color: #EBFDFF;
    margin-top: 5%;

}

#returns {
    Font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);

}

#popular {
    color: rgb(51, 51, 51);
    Font-size: 14px;
    font-weight: 400;
}

.main-help {
    margin-left: 5%;
    padding-top: 5%;
}

.browsing {
    background-color: white;

    width: 1002px;
    height: 528px;
}

.browsing-title {
    Font-size: 32px;
    font-weight: 700;
    color: rgb(0, 0, 0);

}

.main-browsing {
    background-color: #F7F7F7;
    width: 1002px;
    height: 528px;
}

.columns {
    width: 220px;
    height: 214px;
    margin-right: 10%;
}

.dody {
    margin-bottom: 0%;
    border-bottom: 5px solid #F7F7F7;
}

.dody2 {
    border-top: 5px solid #F7F7F7;
}

#funds {
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-top: 15%;
}

.need {
    color: rgb(0, 0, 0);
    Font-size: 24px;
    Font-weight: 700;
    /* margin-left: 370px;
    padding-top: 230px; */
}

.need-div {
    margin-left: 40%;
    padding-top: 230px
}

.contacting {
    width: 632px;
    height: 152px;
    background-color: #FFFFFF;
    margin-left: 230px;
}

.us {
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-left: 250px;
    padding-top: 55px;
}

.options {
    background-color: #DFDFE1;

}

#proplem {
    color: rgb(17, 26, 133);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 330px;

}

.proplem-div {
    margin-left: 230px;

}

#first-foot {
    color: rgb(118, 118, 118);
    Font-size: 12px;
    Font-weight: 400;
    text-decoration: none;
    padding-left: 2%;

}

#first-foot:hover {
    text-decoration: underline;
}

#first-foot2 {
    color: rgb(118, 118, 118);
    Font-size: 12px;
    Font-weight: 400;
    text-decoration: underline;
    padding-left: 0%;

}