.head-support {
    text-decoration: none;
    color: rgb(6, 84, 186);
    font-family: Arial, Arial, Helvetica, sans-serif;

}

body {
    margin: 50%;
    background-color: #ffff;
}

.ebay-logo {
    width: 186px;
    height: 69px;
}

.header {
    height: 50px;
    width: 100%;
}

.flex {
    display: flex;
}

.ebay-div {
    position: absolute;
    bottom: 85%;
    right: 83%;
}

.support-div {
    position: absolute;
    left: 83%;
    bottom: 95%;
}

.create-div {
    position: absolute;
    bottom: 60%;
    right: 35%;
}

.begin {
    font-family: Market sans-serif, Arial, Helvetica, sans-serif Neue, Helvetica, Arial, Roboto, sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: Font color rgb(25, 25, 25);

}

.Business-class {
    position: absolute;
    bottom: 0%;
    left: 520px;
    top: 40%;
}

#first {
    width: 545px;
    height: 55px;
    background-color: #F7F7F7;
    border-radius: 15px;
    border: none;
    border: 1px solid gray;
    font-weight: 400;
    font-size: 17.5px;
    color: rgb(25, 25, 25);
    letter-spacing: 0.5px;
    box-shadow: #f7f7f7af 1px 1px 1px 1px;
}

#eye {
    position: absolute;
    right: 50%;
    top: 85%;
    cursor: pointer;
    transform: translate(0, -50%);
    width: 50px;
}

#country {
    width: 545px;
    height: 55px;
    background-color: #F7F7F7;
    border-radius: 15px;
    border: none;
    border: 1px solid gray;
    font-weight: 400;
    font-size: 17.5px;
    color: rgb(25, 25, 25);
    letter-spacing: 0.5px;
    box-shadow: #f7f7f7af 1px 1px 1px 1px;
}

.create-but {
    width: 545px;
    height: 59px;
    background-color: #C7C7C7;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: 400;
    color: #FCFFFF;
    font-size: 20px;
}

.button-div {
    position: absolute;
    top: 590px;
}

.footer {
    color: #A8BAC9;
    text-decoration: none;
}

.helper {
    height: 32px;
    width: 52px;
    background-color: #0654BA;
    color: rgb(25, 25, 25);
    font-weight: 700;
    font-size: 20px;

}

.last-sec {
    position: absolute;
    left: 1450px;
    bottom: 300px;
    /* position: sticky;
    top: 0px; */
    /* left: 1400px; */
    border-radius: 40px;

}

.questionmark {
    width: 53px;
    background-color: #F2F2F2;
    height: 55px;

}

.write-list {
    height: 40px;
    width: 53px;
    background-color: #F2F2F2;
}